@use "@/styles/variables" as *;

.module {
  font-size: 0.875rem;
  padding-block: 24px;
  border: solid 1px $button-border-color;
  border-radius: 12px;
  background-color: $button-bg-color;
  width: 100%;
  font-family: "Jost";
}
