$bg-color: rgba(228, 213, 205, 0.1);
$text-primary: #b6aaa4;
$text-accent: #7ba9f9;
$text-main: #2e2b29;
$tag-border-color: #2e2b29;
$tag-border-color-hover: #ffffff;
$tag-focus-ring-color: #2e2b29;
$button-border-color: #2e2b29;
$button-bg-color: $bg-color;
$rule-border-color: #ece2dc;
